@media only screen and (min-width: 1176px) {
/*Background*/

.parallax-window {
    height: 3500px;
}

/*Font_styling*/

h1 {
padding-top: 4rem;
padding-bottom: 3rem;
}
h2 {
padding-top: 3rem;
padding-bottom: 2rem;
}
h3 {
    padding-top: 1em;
    padding-bottom: 0.7em;
}

/*Header*/

header {
    float: left;
    position: fixed;
}
header img {
    width: 64px;
    height: 64px;
    padding-left: 72px;
    padding-top: 72px;
}
header p {
    font-size: 23pt;
    top: -84px;
    left: 150px;
    color: white;
    text-align: left;
    margin: 0;
}

/*Nav*/

nav {
    position: fixed;
    float: left;
    text-align: left;
    left: 72px;
    top: 216px;
}
nav a {
    font-size: 0.9em;
}
nav hr {
    display: none;
}

/*Footer*/

footer {
    position: fixed;
    bottom: 72px;
    left: 72px;
    text-align: left;
    padding: 0;
    font-size: 0.8em;
    user-select: none;
}

/*Main*/

main {
    position: absolute;
    width: calc(100% - 384px);
    left: 384px;
    text-align: center;
    margin: 0 auto;
    min-width: 752px;
    max-width: 3000px;
}

/*Download Buttons*/

.text_gray {
    width: 310px;
    font-size: 1.1rem;
}
#download_buttons h1 {
    padding-top: 10rem;
}
.download_buttons {
    width: 29.25em;
    line-height: 0.45em;
    font-size: 1em;
}
.button_flex {
    flex-direction: row;
    max-width: 41em;
}
#button_main {
    height: 3em;
    width: 14em;
    margin-right: 1.5em;
}
#button_other {
    height: 3em;
    width: 14em;
    margin-top: 0;
}
#screenshots {
    padding-top: 1rem;
    width: 47em;
}

/*About*/

#about h1 {
    padding-top: 3rem;
}
#about p {
    width: 600px;
}

/*Downloads*/

#downloads_flex {
    flex-direction: row;
    width: 47em;
}
.download_card {
    justify-content: flex-start;
    width: 18.75em;
    margin-top: 0;
    margin-bottom: 0;
}

/*Installation*/

#installation {
    padding-top: 1.75em;
}
#warning_card {
    width: 100%;
    max-width: 43.875em;
    margin-block-start: 0em;
    margin-block-end: 1em;
}
#warning_icon_mobile {
    display: none;
}
#warning_icon_desktop {
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
}
#warning_text {
    font-size: 0.9rem;
    width: 80%;
}
#installation_flex {
    flex-direction: row;
    width: 47em;
}
.installation_card {
    width: 18.75em;
    margin-top: 0;
    margin-bottom: 0;
}

/*Configuration*/

#config {
    padding-top: 2em;
}
#config p {
    width: 600px;
}
#config img{
    width: 32rem;
}

}