/*Webfont*/

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/Font-SemiBold.woff2') format('woff2'),
        url('../fonts/Font-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/Font-ExtraBold.woff2') format('woff2'),
        url('../fonts/Font-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/Font-Light.woff2') format('woff2'),
        url('../fonts/Font-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/*Background*/

body {
    margin: 0;
    background-color: #34333C;
}
.parallax-window {
    background: transparent;
    width: 100%;
    height: 1588px;
}


/*Container*/

#container {
    font-family: 'gilroy', sans-serif;
    font-style: normal;
    color: white;
    letter-spacing: 0.2px;
    min-width: 300px;
}

/*Main*/

main {
    display: block;
    max-width: 734px;
    margin: 0 auto;
}

/*Header*/

header {
    display: block;
    user-select: none;
}
header img {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 6rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
}
header p {
    position: relative;
    font-size: 2.4rem;
    margin-top: 1rem;
}

/*Nav*/

nav {
    user-select: none;
    font-size: 1.2em;
    text-align: center;
}
nav a{
    line-height: 2.75em;
    font-size: 1em;
    transition: 0.1s;
    color:white;
}
nav a:hover {
    color: #FFAC84;
}
nav hr {
    display: block;
    border-top: 2px solid white;
    width: 40%;
    margin-top: 3em;
}

/*Footer*/

footer {
    width: 80%;
    margin: 0 auto;
    position: relative;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

/*Link_styling*/

a {
    font-weight: 600;
    color: white;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: white;
}

/*Font_styling*/

p {
    font-weight: 600;
    text-align: center;
}
h1 {
    font-size: 2.3em;
    font-weight: 600;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
}
h2 {
    font-weight: 600;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}
h3 {
    font-weight: 600;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 0.7em;
    text-align: center;
    width: 80%;
}

/*Download Buttons*/

#download_buttons h1 {
    padding: 0;
    width: 80%;
    padding-top: 4rem;
}
.text_gray {
    display: block;
    color:rgb(133, 131, 148);
    width: 264px;
    margin: 0 auto;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    line-height: 1.4rem;
}
.button_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-size: 1.2em;
    max-width: 18em;
}
#button_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background: rgb(159,5,19);
    background: linear-gradient(45deg, rgba(159,5,19,1) 0%, rgba(240,129,8,1) 100%);
    border-radius: 5rem;
    box-shadow: 0px 2px 6px 0px  rgba(0,0,0,0.16);
    transition: 0.2s;
}
#button_other {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: rgb(97, 110, 156);
    border-radius: 5rem;
    box-shadow: 0px 2px 6px 0px  rgba(0,0,0,0.16);
    transition: 0.2s;
    margin-top: 1.5em;
}
#button_main:hover{
    transform: scale(1.06);
    background:linear-gradient(45deg, rgb(199, 72, 50) 0%, rgba(248, 145, 61, 1) 100%);
}
#button_other:hover{
    transform: scale(1.06);
    background-color: rgb(118, 138, 211);
}
#screenshots {
    display: block;
    margin: 0 auto;
    width: 80%;
}

/*About*/

#about h1 {
    display: block;
    margin: 0 auto;
    width: 80%;
}
#about p {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1.2rem;
    line-height: 1.5rem;
}
#about a {
    color: #ffac84;
    transition: 0.05s;
}
#about a:hover{
    color: #ffdecd;
}

/*Downloads*/

#downloads_flex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 2em;
    justify-content: center;
}
.download_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    margin: 0 auto;
    margin-bottom: 2em;
    padding-bottom: 3.5em;
    width: 80%;
    background-color: rgba(39, 39, 46, 0.8);
    border-radius: 1.5rem;
    max-width: 400px;
    backdrop-filter: blur(10px);
}
.download_card a {
    color: #ffac84;
    transition: 0.05s;
    text-decoration: underline;
    line-height: 1.2em;
    text-align: center;
}
.download_card a:hover{
    color: #ffdecd;
}
.download_card h2 {
    padding-top: 1em;
}

/*Installation*/
#installation {
    display: block;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
}
#warning_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    background: linear-gradient(45deg, rgba(255,157,133,0.7) 0%, rgba(255,173,133,0.7) 100%);
    border-radius: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 432px;
    backdrop-filter: blur(10px);
    margin: 0 auto;
}
#warning_icon_mobile {
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
}
#warning_icon_desktop {
    display: none;
}
#warning_text {
    display: block;
    color: black;
    width: 60%;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 800;
}
#installation_flex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}
.installation_card {
    padding: 1.5rem;
    margin: 0 auto;
    margin-bottom: 2em;
    width: 80%;
    background-color: rgba(39, 39, 46, 0.8);
    border-radius: 1.5rem;
    max-width: 400px;
    backdrop-filter: blur(10px);
}
.installation_card a {
    color: #ffac84;
    transition: 0.05s;
}
.installation_card a:hover {
    color: #ffdecd;
}
#installation ul {
    font-weight: 600;
    text-align: left;
    line-height: 1.5rem;
    padding-left: 1.5rem;
}
#installation h2 {
    padding-top: 1rem;
}

/*Configuration*/

#config p {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1.2rem;
    line-height: 1.5rem;
}
#graph {
    padding-left: 1rem;
    padding-right: 1rem;
}
#graph_card {
    margin: 0 auto;
    background-color: rgba(39, 39, 46, 0.8);
    border-radius: 1.5rem;
    backdrop-filter: blur(10px);
    max-width: 580px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#config img{
    display: block;
    width: 95%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#config {
    margin-bottom: 2rem;
}
#disclaimer {
    margin: 0 auto;
    width: 80%;
    font-size: 0.7rem;
    color: rgb(133, 131, 148);
    margin-bottom: 2em;
}